.idea/
/src/test/
/src/webconsole/config/
/vendor/
zm.json
/zm_data/
composer.lock
/resources/server.phar
/distribute/
/bin/.phpunit.result.cache
/resources/zhamao.service
.phpunit.result.cache
.daemon_pid