parameters:
  reportUnmatchedIgnoredErrors: false
  level: 4
  paths:
    - ./src/
  ignoreErrors:
    - '#Used constant OS_TYPE_(LINUX|WINDOWS) not found#'
    - '#Constant .* not found#'
    - '#PHPDoc tag @throws with type Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'
  dynamicConstantNames:
    - SWOOLE_VERSION
