parameters:
  reportUnmatchedIgnoredErrors: false
  level: 4
  paths:
    - ./src/
    - ./tests/
  ignoreErrors:
    - '#Constant .* not found#'
    - '#PHPDoc tag @throws with type Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'
    - '#Unsafe usage of new static#'
    - '#Call to method initTableList\(\) of deprecated class ZM\\DB\\DB#'
    - '#class Fiber#'
    - # Ignore Prophesize deprecation bug: https://github.com/phpstan/phpstan-deprecation-rules/issues/76
      message: '#^Call to deprecated method prophesize\(\) of class Tests\\TestCase#'
      path: tests
  dynamicConstantNames:
    - SWOOLE_VERSION
    - ZM_TEST_LOG_DEBUG
    - _PHAR_STUB_ID
    - LOAD_MODE
