parameters:
  reportUnmatchedIgnoredErrors: false
  level: 4
  paths:
    - ./src/
  ignoreErrors:
    - '#Used constant OS_TYPE_(LINUX|WINDOWS) not found#'
    - '#Constant .* not found#'
  dynamicConstantNames:
    - SWOOLE_VERSION
