<?php

declare(strict_types=1);

namespace {namespace};

use ZM\Annotation\OneBot\BotCommand;
use ZM\Context\BotContext;

class {class}
{
    #[BotCommand(match: '测试{basename}')]
    public function firstBotCommand(BotContext $ctx): void
    {
        $ctx->reply('这是{name}插件的第一个命令！');
    }
}
