<?php

declare(strict_types=1);

namespace {namespace};

class {class}
{
    #[\BotCommand(match: '测试{name}')]
    public function firstBotCommand(\BotContext $ctx): void
    {
        $ctx->reply('这是{name}插件的第一个命令！');
    }
}
