name: Build Release Artifacts

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build-release-artifacts:
    name: Build Release Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}

      - name: Setup PHP
        uses: sunxyw/workflows/setup-environment@main
        with:
          php-version: 8.0
          php-extensions: swoole, posix, json
          operating-system: ubuntu-latest
          use-cache: true

      - name: Remove Dev Dependencies
        run: composer install --no-dev

      - name: Build Phar
        run: ./zhamao build

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: build/zm.phar

  update-changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}

      - name: Setup PHP
        uses: sunxyw/workflows/setup-environment@main
        with:
          php-version: 8.1
          php-extensions: swoole, posix, json
          operating-system: ubuntu-latest
          use-cache: true

      - name: Update Changelog
        run: ./zhamao generate:text update-log-md

      - name: Commit Changelog
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: update changelog
          branch: ${{ github.event.release.target_commitish }}
